:root {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background: #0b1220;
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

